@model IEnumerable<Restaurant.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="text-black-50 footer-content">
    <div>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Find by name: <input type="text" name="SearchString" placeholder="Search Products" value="@ViewData["CurrentFilter"]" />
                </p>
            </div>
        </form>
    </div>
    <div>
        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-action="Index">Back to Full List</a>
    </div>
</div>

<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-md-3 col-lg-3 thumbnail mt-4">
            <span class="text-uppercase pb-4  text-black-50">
              @item.ProductName
            </span>
            <a asp-action="Details" asp-route-id="@item.ProductID">
                <img src="/Images/Thumbs/@item.ImagePath" class="img-thumbnail images" alt="Product_img" />
            </a>
            <div class="footer-content">
                <span>Price</span>
                <span>@item.UnitPrice TSH</span>
            </div>
        </div>
    }
</div>
